@charset "UTF-8";





div#services_urgences_text {
    display: flex;
    align-items: center;
}

div#services_urgences_text h2 {
    flex-basis: 50%;
}

div#services_urgences_text p {
    flex-basis: 50%;
}



div#services_urgences_container {
    flex-flow: row wrap;
    align-items: flex-start;
}

div.card_urgence {
    flex: 1 1 30%;
    max-width: 30%;
}




div#services_proposes_container {
    flex-flow: row wrap;
}

div.card_service {
    width: 25%;
    height: 350px;
}





section#histoire_valeurs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section#histoire_valeurs h2 {
    flex-basis: 30%;
    margin-bottom: 0px;
}

section#histoire_valeurs p {
    flex-basis: 50%;
}