@charset "UTF-8";





#bouton_menu {
    display: none;
}


div#menu_container {
    display: block;
}

menu ul {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

menu a {
    margin: 0px 5px;
}




section#phrase_impact {
    flex-flow: row;
}




section#contact {
    flex-flow: row;
}
