@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yanone+Kaffeesatz&display=swap');

:root {
    --couleur1: #062326;
    --couleur2: #11D990;
    --couleur3: #02733E;
    --couleur4: #80A698;
    --couleur5: #F2F2F2;
    --couleur6: #EFA92A;
    --couleur7: #012611;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    width: 100vw;
}





header {
    height: 100vh;
    background-color: var(--couleur3);
    background-image: url(../images/background_principal.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: rgba(0, 0, 0, 0.75);
}

#logo_header {
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 10px;
}

#bouton_menu {
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 4em;
}

menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    list-style: none;
    height: 90px;
    justify-content: space-evenly;
}

menu a {
    text-decoration: none;
    padding: 15px;
    margin: 15px 0px;
    width: fit-content;
    border-radius: 10px;
    color: white;
    text-align: center;
}

menu a:hover {
    color: var(--couleur3);
    text-decoration: underline;
    transition: color 0.3s;
}





section#hero_section h1 {
    font-size: 4em;
    color: var(--couleur6);
    text-align: center;
    margin-top: 150px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784);
    font-family: "Yanone Kaffeesatz", serif;
}

section#hero_section p {
    font-size: 1em;
    color: #F2F2F2;
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784);
}

section#hero_section a {
    display: block;
    width: 200px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    background-color: var(--couleur5);
    color: var(--couleur6);
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid var(--couleur6);
}

section#hero_section a:hover {
    background-color: var(--couleur6);
    color: var(--couleur5);
    transition: background-color 0.3s, color 0.3s;
}






section#services_urgences {
    background-color: white;
    padding: 50px 0px;
}

section#services_urgences h2 {
    font-size: 2.5em;
    color: var(--couleur1);
    text-align: center;
    font-family: "Yanone Kaffeesatz", serif;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.236);
}

section#services_urgences > p {
    font-size: 1em;
    color: var(--couleur1);
    text-align: center;
    margin-bottom: 50px;
    padding: 0px 20px;
}

section#services_urgences_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

div.card_urgence {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: var(--couleur7);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.236);
}


div.card_urgence > h3 {
    font-size: 2em;
    color: var(--couleur5);
    text-align: center;
    margin: 10px;
    font-family: "Yanone Kaffeesatz", serif;
}

div.card_urgence > p {
    font-size: 1em;
    color: var(--couleur5);
    text-align: center;
    margin: 10px;
}

div.card_urgence > img {
    width: 100%;
    height: 200px;
    object-fit: cover;   
}

.separateur {
    width: 90%;
    height: 2px;
    background-color: black;
    margin: 0px auto;
}




section#services_proposes {
    background-color: var(--couleur5);
    padding: 50px 0px;
}

section#services_proposes h2 {
    font-size: 3em;
    color: var(--couleur1);
    text-align: center;
    font-family: "Yanone Kaffeesatz", serif;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.236);
}

div#services_proposes_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
}


div.card_service {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: var(--couleur4);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.236);
    width: 80%;
    height: 250px;
    justify-content: flex-end;
}

div#entretien {
    background-image: url(../images/exemple2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div#amenagement {
    background-image: url(../images/exemple1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div#creation {
    background-image: url(../images/exemple3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div.card_service > h3 {
    font-size: 2em;
    color: var(--couleur5);
    margin: 10px;
    font-family: "Yanone Kaffeesatz", serif;
}

div.card_service > a {
    background-color: var(--couleur6);
    color: var(--couleur5);
    text-decoration: none;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}

div.card_service > a:hover {
    background-color: var(--couleur5);
    color: var(--couleur6);
    border: 1px solid var(--couleur6);
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

div.card_service > a::after {
    content: '\00A0\1F517';
}




section#phrase_impact {
    background-image: url(../images/feuille.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px 10px;
    display: flex;
    justify-content: space-between;
}

section#phrase_impact > p {
    font-size: 1.5em;
    color: var(--couleur5);
    text-align: center;
    margin: 10px; 
}



section#histoire_valeurs {
    background-color: var(--couleur5);
    padding: 50px 0px;
}

section#histoire_valeurs h2 {
    font-size: 2.5em;
    color: var(--couleur1);
    text-align: center;
    font-family: "Yanone Kaffeesatz", serif;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.236);
}

section#histoire_valeurs > p {
    font-size: 1em;
    color: var(--couleur1);
    text-align: center;
    margin: 20px;
    padding: 0px 20px;
}

/*Peut etre une image d'Enzo habillé en tenue de travail*/




section#contact {
    background-color: white;
    padding: 50px 10px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
}


div.contact_card {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 80%;
    height: 250px;
    justify-content: flex-end;
    align-items: center;
}

div.contact_card > img {
    height: 200px;
    width: 200px;
}

div.contact_card > h3 {
    font-size: 2em;
    color: var(--couleur1);
    margin: 10px;
}

div.contact_card > p {
    font-size: 1.2em;
    color: var(--couleur1);
    text-align: center;
    margin: 10px;
}





footer {
    background-color: white;
    padding: 50px 10px;
}

div#images_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
div#images_footer img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

div#reseaux_sociaux {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

div#reseaux_sociaux img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}


div#contact_footer > p {
    font-size: 1.2em;
    color: var(--couleur1);
    text-align: center;
    margin: 10px;
}
    
div#menu_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

div#menu_footer a {
    text-decoration: none;
    color: var(--couleur1);
    font-size: 1.5em;
}

div#menu_footer a:hover {
    color: var(--couleur6);
    transition: color 0.3s;
}

div#menu_footer a::after {
    content: '\00A0\1F517';
}