@charset "UTF-8";

:root {
    --couleur1: #062326;
    --couleur2: #11D990;
    --couleur3: #27C225;
    --couleur4: #80A698;
    --couleur5: #F2F2F2;
    --couleur6: #EFA92A;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: poppins;
}